body {
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
      background: linear-gradient(170deg, rgb(21, 129, 172) 66%, rgb(255, 255, 255) 66%);
      align-items: center;
      padding: 3rem;
}

.profilePic {
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.4);
}

.profilePic > img {
    max-width: 20rem;
    min-height: 20rem;
    object-fit: cover;
    display: block;
}

.profilePic > h1 {
    position: fixed;
    color: white;
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.5);
}

.aboutMe > h2 {
    margin: 0.5rem 0;
}

.aboutMe > p {
    margin: 1rem 0 2rem 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}

.buttons > button {
    height: 2rem;
    width: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
}

.buttons > button > img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}