body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
      background: linear-gradient(170deg, rgb(27, 147, 226) 50%, rgb(255, 255, 255) 50%);
      align-items: center;
      padding: 3rem;

}

.profilePic > img {
    max-width: 20rem;
    min-height: 20rem;
    object-fit: cover;
    display: block;
}

header h1 {
    bottom: 0;
    position: fixed;
    color: white;
    margin: 0;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}

.buttons > button {
    height: 2rem;
    width: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
}

.buttons > button > img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}