@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0;
}

header {
    display: flex;
      background: linear-gradient(170deg, rgb(21, 129, 172) 66%, rgb(255, 255, 255) 66%);
      align-items: center;
      padding: 3rem;
}

.profilePic {
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.25);
    position: relative;
}

.profilePic > img {
    max-width: 26rem;
    min-height: 26rem;
    object-fit: cover;
    display: block;
}

.profilePic > h1 {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.5);
}

.aboutMe > h2 {
    margin: 1rem 0;
}

.aboutMe > p {
    margin: 0.5rem 0 2rem 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}

.buttons > button {
    height: 2rem;
    width: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
}

.buttons > button > img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}

.myWork {
    margin: 0 3rem 3rem 3rem;
}

.myWork > h2 {
    margin: 0 0 1rem 0;
}

.cardSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.25);
}

.card > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.cardBottom {
    padding: 1rem 1.5rem;
}

.cardHeading {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.cardHeading > .buttons > button {
    height: 1.75rem;
    width: 1.75rem;
}

.cardHeading > .buttons > button > img {
    height: 1.75rem;
    width: 1.75rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    background-color: rgb(21, 129, 172);
    color: white;
    gap: 3rem;
}

.footerText {
    display: flex;
    flex-direction: column;
}

footer > picture > img {
    width: 100%;
    display: block;
    justify-self: end;
}

@media (min-width: 601px) and (max-width: 1000px) {
    header {
        display: block;
        padding: 4rem;
    }

    .profilePic {
        display: block;
        position: static;
        float: left;
        z-index: 2;
        margin: -0.5rem;
        box-shadow: none;
    }

    .profilePic > img {
        transform: translate(-1.5rem, -1.5rem);
        box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.25);
        max-width: 20rem;
        min-height: 20rem;
        object-fit: cover;
        display: block;
        margin: 0;
    }

    .profilePic > h1 {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: white;
        margin: 0 2rem 0 0;
        padding: 0rem;
        font-size: 3rem;
        z-index: 999;
    }

    .aboutMe {
        display: block;
        position: static;
        z-index: 1;
        margin-top: 3rem;
    }

    .aboutMe > h2 {
        margin: 3rem 0 1rem 0;
    }

    .aboutMe > p {
        margin: 0 0 2rem 0;
    }

    .buttons {
        display: none;
    }

    .card > img {
        height: 250px;
    }
}

@media (max-width: 600px) {
    header {
        background: linear-gradient(170deg, rgb(21, 129, 172) 50%, rgb(255, 255, 255) 50%);
        flex-direction: column;
        padding: 2rem;
    }  

    p {
        font-size: 1.25rem;
    }

    .profilePic {
        align-items: center;
        margin: 1rem 0 1rem 0;
        width: 90%;
        position: relative;
    }

    .profilePic > img {
        width: 100%;
        height: 85vh;
        max-width: none;
        min-height: none;
    }

    .profilePic > h1 {
        position: absolute;
        bottom: 0;
        font-size: 4rem;
    }

    .aboutMe {
        align-items: center;
        padding: 0;
        box-shadow: none;
        margin-top: 3rem;
    }

    .aboutMe > h2 {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    .aboutMe > p {
        margin: 0rem 0 2rem 0;
    }
    
    .buttons {
        gap: 1.5rem;
    }

    .buttons > button {
        height: 3rem;
        width: 3rem;
    }

    .buttons > button > img {
        height: 3rem;
        width: 3rem;
    }

    .myWork {
        margin: 0rem 2rem;
    }

    .cardSection {
        gap: 4rem;
    }

    .card > img {
        height: 300px;
    }
}