body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
      background: linear-gradient(170deg, rgb(27, 147, 226) 50%, rgb(255, 255, 255) 50%);
      align-items: center;
      padding: 3rem;

}

header img {
    max-width: 300px;
    min-height: 300px;
    object-fit: cover;
    display: block;
}

header h1 {
    bottom: 0;
    position: fixed;
    color: white;
    margin: 0;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff9d9d;

}